<ion-header class="w-full h-full max-h-[300px] gap-5 bg-[#202020] flex flex-col justify-evenly items-center px-[20px] py-[10px] rounded-b-xl">

  <div class="w-full flex justify-between items-center mb-2">
    <ion-icon name="menu-outline" size="large" class="text-white"></ion-icon>
    <div class="flex flex-col">
      <h1 class="text-xl text-white">Usina</h1>
      <span class="text-orange-500 self-end">Play</span>
    </div>
    <div class="bg-black rounded-full w-[40px] h-[40px] relative flex items-center justify-center">
      <ion-icon name="notifications" class="w-[20px] h-[20px] text-[#F07D07]" size="medium"></ion-icon>
      <ion-badge class="bg-[#7df0d3] w-[12px] h-[12px] absolute top-[2px] right-[2px] rounded-full flex items-center justify-center"></ion-badge>
    </div>
  </div>

  <div class="self-start flex items-center justify-start gap-5 px-5">
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <div class="flex flex-col gap-2 text-xl">
      <p class="text-white">Leonardo Santos</p>
      <p class="text-lg text-purple-500">Nível Roxo</p>
    </div>
  </div>

  <div class="bg-[#161616] rounded-full w-3/4 max-h-[70px] text-center flex items-center justify-evenly p-5">
    <div class="w-full flex items-center gap-1">
      <div class="flex items-center justify-center border border-orange-500 w-10 h-10 rounded-full">
        <ion-icon name="body" class="text-orange-500 w-4 h-4"></ion-icon>
      </div>
      <p class="text-orange-500">MEU CORPO</p>
    </div>
    <div class="w-full flex items-center gap-1">
      <div class="flex items-center justify-center border border-orange-500 w-10 h-10 rounded-full">
        <ion-icon name="trophy" class="text-[#F07D07] w-4 h-4"></ion-icon>
      </div>
      <p class="text-orange-500">OBJETIVOS E CONQUISTAS</p>
    </div>
  </div>
</ion-header>
