<ion-header class="w-full h-full max-h-[300px] gap-5 bg-[#202020] flex flex-col justify-evenly items-center px-[20px] py-[10px] rounded-b-[50px]">
  <div class="w-full flex justify-between items-center mb-2">
    <ion-icon id="open-modal"  name="menu-outline" size="large" class="text-white cursor-pointer"></ion-icon>
    <ion-popover trigger="menu-modal" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding">
          <p class="cursor-pointer hover:bg-white hover:text-black hover:p-1 hover:rounded" (click)="onProfileClick()">Meu perfil</p>
        </ion-content>
      </ng-template>
    </ion-popover>
    <div class="flex flex-col cursor-pointer" (click)="goToHome()">
      <h1 class="text-xl text-white">Usina</h1>
      <span class="text-orange-500 self-end">Play</span>
    </div>
    <div class="bg-black rounded-full w-[40px] h-[40px] relative flex items-center justify-center">
      <ion-icon name="notifications" class="w-[20px] h-[20px] text-[#F07D07]" size="medium"></ion-icon>
      <ion-badge class="bg-[#7df0d3] w-[12px] h-[12px] absolute top-[2px] right-[2px] rounded-full flex items-center justify-center"></ion-badge>
    </div>
  </div>

  <div class="self-start flex items-center justify-start gap-5 px-5 cursor-pointer">
    <input #fileInput type="file" accept="image/*" (change)="onFileSelected($event)" style="display: none;" />
    <ion-avatar (click)="onAvatarClick()">
      <img [src]="currentUser?.photoUrl || 'https://avatar.iran.liara.run/public/18'" alt="Profile picture" />
    </ion-avatar>
    <div class="flex flex-col gap-1 text-xl">
      <p class="text-white">{{ currentUser?.displayName || currentUser?.name }}</p>
      <p [ngClass]="(currentUser?.role == 'white') ? 'text-white' : 'text-purple-500' " class="text-md">
        Nível {{ currentUser?.role?.charAt(0)!.toUpperCase() + currentUser?.role?.slice(1) }}
      </p>
    </div>
  </div>

  <div class="bg-[#161616] rounded-full w-4/5 max-h-[60px] text-center flex items-center justify-evenly p-5">
    <div class=" flex items-center gap-2">
      <div class="flex items-center justify-center border border-orange-500 w-10 h-10 rounded-full">
        <ion-icon name="body" class="text-orange-500 w-4 h-4"></ion-icon>
      </div>
      <p class="text-orange-500 text-xs">MEU CORPO</p>
    </div>
    <div trigger="open-objectives" class="w-1/2 flex items-center gap-2">
      <div class="flex items-center justify-center border border-orange-500 w-10 h-10 rounded-full">
        <ion-icon name="trophy" class="text-[#F07D07] w-4 h-4"></ion-icon>
      </div>
      <p class="text-orange-500 text-xs">OBJETIVOS E CONQUISTAS</p>
    </div>
  </div>
  <app-menu-modal></app-menu-modal>
  <app-modal-objectives></app-modal-objectives>
</ion-header>
