<ion-modal [isOpen]="isOpen" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header class="flex items-center justify-between">
      <ion-toolbar class="flex items-center justify-around">
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancelar</ion-button>
        </ion-buttons>
        <ion-title class="text-center">Objetivos</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-button (click)="addObjective()" class="my-2">Adicionar objetivos</ion-button>
      <ion-accordion-group>
        @for (objective of objectives; track objective) {
          <ion-accordion value="{objective.id}">
            <ion-item slot="header" color="light">
              <ion-label>{{objective?.name}}</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">{{objective?.description}}</div>
          </ion-accordion>
        }
      </ion-accordion-group>
    </ion-content>
  </ng-template>
</ion-modal>
